<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>folderActions</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEDELDBIeHyAhRkdISUpLTE1O
	T1BRUlNUVVZXWFlaW1xdXl9gYWJjZGVmZ2hucnd4eX2AVSRudWxs0g0ODxFaTlMub2Jq
	ZWN0c1YkY2xhc3OhEIACgC/WExQVFhcOGBkaGxwdWGJvb2ttYXJrV2VuYWJsZWRdcHJp
	b3JDb250ZW50c1RuYW1lV3NjcmlwdHOAA4AFgAaABIAqgDBPEQN0Ym9va3QDAAAAAAQQ
	MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZAIAAAQAAAADAwAAAAIA
	AAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAG51bGxldmVudAAAAAkAAAABAQAARG9jdW1l
	bnRzAAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABA+AAAAAAAACAAAAAQDAAAs
	8QMAAAAAAAgAAAAEAwAAXfEDAAAAAAAMAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAA
	QcVtKKbHEkoYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAQAA
	AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxnOGYYAAACQAAAABAQAARjE1NTI2RDEt
	NDBEMy00M0VGLUI2RjUtNkJCNDRCNjY0N0RCGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAABAgAAODFlN2YzNmEzMWQwZmQ4
	MjY5YzMxYjYyNmEzYWQyZDZlMGQwYjE4OGI2NjBhODJmMGJlYzEzY2M5OTNiN2Q4OTsw
	MDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5h
	cHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDEyOzAwMDAwMDAwMDAw
	M2YxNWQ7Njg7L3VzZXJzL251bGxldmVudC9kb2N1bWVudHMA2AAAAP7///8BAAAAAAAA
	ABEAAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAA
	AAACIAAAfAEAAAAAAAAFIAAA7AAAAAAAAAAQIAAA/AAAAAAAAAARIAAAMAEAAAAAAAAS
	IAAAEAEAAAAAAAATIAAAIAEAAAAAAAAgIAAAXAEAAAAAAAAwIAAAiAEAAAAAAAABwAAA
	0AAAAAAAAAARwAAAIAAAAAAAAAASwAAA4AAAAAAAAAAQ0AAABAAAAAAAAACA8AAAkAEA
	AAAAAABZRG9jdW1lbnRzCdINDiJFrxAiIyQlJicoKSorLC0uLzAxMjM0NTY3ODk6Ozw9
	Pj9AQUJDRIAHgAiACYAKgAuADIANgA6AD4AQgBGAEoATgBSAFYAWgBeAGIAZgBqAG4Ac
	gB2AHoAfgCCAIYAigCOAJIAlgCaAJ4AogClbdGVzdF9pZF9yc2FZTm9NYWNoaW5lXxAh
	RHRleEZvcndhcmRlcl9tYWNPU182LjEuMC0xNjEuZG1nXxAgb3JpZ2luYWxfc3lzdGVt
	X3ByaXZfYWRtaW4ucGxpc3RfEBhkaXNhYmxlX3NzbF9waW5fbWFjT1MuanNUdGVtcF8Q
	JHNvbWVfcHJvamVjdF9kZXYtMi5sb2NhbF9pc3N1ZXMyLnR4dFkuRFNfU3RvcmVfEBFM
	ZWFndWUgb2YgTGVnZW5kc1pzeW1saW5rLnB5XxAkc29tZV9wcm9qZWN0X2Rldi0yLmxv
	Y2FsX2lzc3VlczEudHh0VlJvYmxveFoubG9jYWxpemVkWnB1cnBsZXRlYW1bdGVzdGlu
	Zy50eHRZZHRleHBsb2l0V0xpYnJhcnlfECRjb20uYXBwbGUuaW5zdGFsbGNvb3JkaW5h
	dGlvbmQucGxpc3RTa2V5V3N1ZG9lcnNYZHluYWR1bXBbTGFyayBIZWxwZXJfEBBsYXJr
	X3Rlc3RpbmcudHh0XxASYmFjaF9wcml2YXRlX2NhY2hlW1BsYXlncm91bmRzVFpvb21f
	EB5BcHBsZV9JbnRlbGxpZ2VuY2VfUmVwb3J0Lmpzb25cZWxlY3Ryb25pejNyXxAaYnlw
	YXNzX2xhcmtfc3NsX3Bpbm5pbmcuanNfEBV3b3JrZmxvd3Rlc3Qud29ya2Zsb3dfEClj
	b20uYXBwbGUuaW5zdGFsbGNvb3JkaW5hdGlvbl9wcm94eS5wbGlzdFxwaGlzaGxldC50
	eHRfEBFhdXRoX3Jlc2VhcmNoLnR4dFpsc3JlZ2lzZHVt0mlqa2xaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1dOU0FycmF5omttWE5TT2JqZWN00g0ObxGhcIArgC/UExQWDnMZdXaALIAF
	gC2ALk8RBCBib29rIAQAAAAABBAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAQAwAABAAAAAMDAAAAAgAABQAAAAEBAABVc2VycwAAAAkAAAABAQAAbnVsbGV2
	ZW50AAAABwAAAAEBAABMaWJyYXJ5AAcAAAABAQAAU2NyaXB0cwAVAAAAAQEAAEZvbGRl
	ciBBY3Rpb24gU2NyaXB0cwAAAAgAAAABAQAAcG9jLnNjcHQYAAAAAQYAABAAAAAgAAAA
	NAAAAEQAAABUAAAAdAAAAAgAAAAEAwAAED4AAAAAAAAIAAAABAMAACzxAwAAAAAACAAA
	AAQDAAAz8QMAAAAAAAgAAAAEAwAAb10SAAAAAAAIAAAABAMAAJrifgEAAAAACAAAAAQD
	AADSGIABAAAAABgAAAABBgAApAAAALQAAADEAAAA1AAAAOQAAAD0AAAACAAAAAAEAABB
	xsY108bmUhgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAEAAAA
	AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
	RAgAAAAEAwAAAFChG3MAAAAIAAAAAAQAAEHGc4ZhgAAAJAAAAAEBAABGMTU1MjZEMS00
	MEQzLTQzRUYtQjZGNS02QkI0NEI2NjQ3REIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAA
	AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA8QAAAAECAABmOTk2M2RkMWUyZWM2MjRh
	ZGRhNmNkNjJhNmU5ODU0NTlhYmUxM2UxMGJhZmE0OGQzNGFlZjM4YmNmNmI3ZmMzOzAw
	OzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFw
	cGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDE7MDEwMDAwMTI7MDAwMDAwMDAwMTgw
	MThkMjswMTsvdXNlcnMvbnVsbGV2ZW50L2xpYnJhcnkvc2NyaXB0cy9mb2xkZXIgYWN0
	aW9uIHNjcmlwdHMvcG9jLnNjcHQAAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAhAAA
	AAAAAAAFEAAABAEAAAAAAAAQEAAANAEAAAAAAABAEAAAJAEAAAAAAAACIAAAAAIAAAAA
	AAAFIAAAcAEAAAAAAAAQIAAAgAEAAAAAAAARIAAAtAEAAAAAAAASIAAAlAEAAAAAAAAT
	IAAApAEAAAAAAAAgIAAA4AEAAAAAAAAwIAAADAIAAAAAAAABwAAAVAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAZAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAFAIAAAAAAABYcG9jLnNj
	cHTSaWp6e15JbnRlcm5hbFNjcmlwdKJ8bV5JbnRlcm5hbFNjcmlwdNJpan5/Xk5TTXV0
	YWJsZUFycmF5o35rbdJpaoGCXxAUSW50ZXJuYWxGb2xkZXJBY3Rpb26ig21fEBRJbnRl
	cm5hbEZvbGRlckFjdGlvbgAIABEAGgAkACkAMgA3AEkATABRAFMAhwCNAJIAnQCkAKYA
	qACqALcAwADIANYA2wDjAOUA5wDpAOsA7QDvBGcEcQRyBHcEnASeBKAEogSkBKYEqASq
	BKwErgSwBLIEtAS2BLgEugS8BL4EwATCBMQExgTIBMoEzATOBNAE0gTUBNYE2ATaBNwE
	3gTgBOIE7gT4BRwFPwVaBV8FhgWQBaQFrwXWBd0F6AXzBf8GCQYRBjgGPAZEBk0GWQZs
	BoEGjQaSBrMGwAbdBvUHIQcuB0IHTQdSB10HZgduB3EHegd/B4EHgweFB44HkAeSB5QH
	lgu6C8MLyAvXC9oL6QvuC/0MAQwGDB0MIAAAAAAAAAIBAAAAAAAAAIQAAAAAAAAAAAAA
	AAAAAAw3
	</data>
	<key>folderActionsEnabled</key>
	<true/>
</dict>
</plist>
