<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>folderActions</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEDELDBIeHyAhRkdISUpLTE1O
	T1BRUlNUVVZXWFlaW1xdXl9gYWJjZGVmZ2hucnd4eX2AVSRudWxs0g0ODxFaTlMub2Jq
	ZWN0c1YkY2xhc3OhEIACgC/WExQVFhcOGBkaGxwdWGJvb2ttYXJrV2VuYWJsZWRdcHJp
	b3JDb250ZW50c1RuYW1lV3NjcmlwdHOAA4AFgAaABIAqgDBPEQN0Ym9va3QDAAAAAAQQ
	MAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZAIAAAQAAAADAwAAAAIA
	AAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAG51bGxldmVudAAAAAkAAAABAQAARG9jdW1l
	bnRzAAAADAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAABA+AAAAAAAACAAAAAQDAAAs
	8QMAAAAAAAgAAAAEAwAAXfEDAAAAAAAMAAAAAQYAAFwAAABsAAAAfAAAAAgAAAAABAAA
	QcVtKKbHEkoYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAQAA
	AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxnOGYYAAACQAAAABAQAARjE1NTI2RDEt
	NDBEMy00M0VGLUI2RjUtNkJCNDRCNjY0N0RCGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAABAgAAODFlN2YzNmEzMWQwZmQ4
	MjY5YzMxYjYyNmEzYWQyZDZlMGQwYjE4OGI2NjBhODJmMGJlYzEzY2M5OTNiN2Q4OTsw
	MDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5h
	cHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDEyOzAwMDAwMDAwMDAw
	M2YxNWQ7Njg7L3VzZXJzL251bGxldmVudC9kb2N1bWVudHMA2AAAAP7///8BAAAAAAAA
	ABEAAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAA
	AAACIAAAfAEAAAAAAAAFIAAA7AAAAAAAAAAQIAAA/AAAAAAAAAARIAAAMAEAAAAAAAAS
	IAAAEAEAAAAAAAATIAAAIAEAAAAAAAAgIAAAXAEAAAAAAAAwIAAAiAEAAAAAAAABwAAA
	0AAAAAAAAAARwAAAIAAAAAAAAAASwAAA4AAAAAAAAAAQ0AAABAAAAAAAAACA8AAAkAEA
	AAAAAABZRG9jdW1lbnRzCdINDiJFrxAiIyQlJicoKSorLC0uLzAxMjM0NTY3ODk6Ozw9
	Pj9AQUJDRIAHgAiACYAKgAuADIANgA6AD4AQgBGAEoATgBSAFYAWgBeAGIAZgBqAG4Ac
	gB2AHoAfgCCAIYAigCOAJIAlgCaAJ4AogClbdGVzdF9pZF9yc2FZTm9NYWNoaW5lXxAh
	RHRleEZvcndhcmRlcl9tYWNPU182LjEuMC0xNjEuZG1nXxAgb3JpZ2luYWxfc3lzdGVt
	X3ByaXZfYWRtaW4ucGxpc3RfEBhkaXNhYmxlX3NzbF9waW5fbWFjT1MuanNUdGVtcF8Q
	JHNvbWVfcHJvamVjdF9kZXYtMi5sb2NhbF9pc3N1ZXMyLnR4dFkuRFNfU3RvcmVfEBFM
	ZWFndWUgb2YgTGVnZW5kc1pzeW1saW5rLnB5XxAkc29tZV9wcm9qZWN0X2Rldi0yLmxv
	Y2FsX2lzc3VlczEudHh0VlJvYmxveFoubG9jYWxpemVkWnB1cnBsZXRlYW1bdGVzdGlu
	Zy50eHRZZHRleHBsb2l0V0xpYnJhcnlfECRjb20uYXBwbGUuaW5zdGFsbGNvb3JkaW5h
	dGlvbmQucGxpc3RTa2V5V3N1ZG9lcnNYZHluYWR1bXBbTGFyayBIZWxwZXJfEBBsYXJr
	X3Rlc3RpbmcudHh0XxASYmFjaF9wcml2YXRlX2NhY2hlW1BsYXlncm91bmRzVFpvb21f
	EB5BcHBsZV9JbnRlbGxpZ2VuY2VfUmVwb3J0Lmpzb25cZWxlY3Ryb25pejNyXxAaYnlw
	YXNzX2xhcmtfc3NsX3Bpbm5pbmcuanNfEBV3b3JrZmxvd3Rlc3Qud29ya2Zsb3dfEClj
	b20uYXBwbGUuaW5zdGFsbGNvb3JkaW5hdGlvbl9wcm94eS5wbGlzdFxwaGlzaGxldC50
	eHRfEBFhdXRoX3Jlc2VhcmNoLnR4dFpsc3JlZ2lzZHVt0mlqa2xaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1dOU0FycmF5omttWE5TT2JqZWN00g0ObxGhcIArgC/UExQWDnMZdXaALIAF
	gC2ALk8RBCRib29rJAQAAAAABBAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAUAwAABAAAAAMDAAAAAgAABQAAAAEBAABVc2VycwAAAAkAAAABAQAAbnVsbGV2
	ZW50AAAABwAAAAEBAABMaWJyYXJ5AAcAAAABAQAAU2NyaXB0cwAVAAAAAQEAAEZvbGRl
	ciBBY3Rpb24gU2NyaXB0cwAAAAoAAAABAQAAZmluYWwuc2NwdAAAGAAAAAEGAAAQAAAA
	IAAAADQAAABEAAAAVAAAAHQAAAAIAAAABAMAABA+AAAAAAAACAAAAAQDAAAs8QMAAAAA
	AAgAAAAEAwAAM/EDAAAAAAAIAAAABAMAAG9dEgAAAAAACAAAAAQDAACa4n4BAAAAAAgA
	AAAEAwAAIliAAQAAAAAYAAAAAQYAAKgAAAC4AAAAyAAAANgAAADoAAAA+AAAAAgAAAAA
	BAAAQcbGQpSmb7kYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
	BAAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRv
	c2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxnOGYYAAACQAAAABAQAARjE1NTI2
	RDEtNDBEMy00M0VGLUI2RjUtNkJCNDRCNjY0N0RCGAAAAAECAACBAAAAAQAAAO8TAAAB
	AAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAPMAAAABAgAAYmYzZTBjNDA2ZTZk
	OGMwNTg5ZjQzMjFmMzk5NjVhZDQyZTM1NWFmNjNmMDI2OGEyOWY5MDY0MzU2YTZmMTQz
	YTswMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2Nv
	bS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDEyOzAwMDAwMDAw
	MDE4MDU4MjI7MDE7L3VzZXJzL251bGxldmVudC9saWJyYXJ5L3NjcmlwdHMvZm9sZGVy
	IGFjdGlvbiBzY3JpcHRzL2ZpbmFsLnNjcHQAANgAAAD+////AQAAAAAAAAARAAAABBAA
	AIgAAAAAAAAABRAAAAgBAAAAAAAAEBAAADgBAAAAAAAAQBAAACgBAAAAAAAAAiAAAAQC
	AAAAAAAABSAAAHQBAAAAAAAAECAAAIQBAAAAAAAAESAAALgBAAAAAAAAEiAAAJgBAAAA
	AAAAEyAAAKgBAAAAAAAAICAAAOQBAAAAAAAAMCAAABACAAAAAAAAAcAAAFgBAAAAAAAA
	EcAAACAAAAAAAAAAEsAAAGgBAAAAAAAAENAAAAQAAAAAAAAAgPAAABgCAAAAAAAAVWZp
	bmFs0mlqenteSW50ZXJuYWxTY3JpcHSifG1eSW50ZXJuYWxTY3JpcHTSaWp+f15OU011
	dGFibGVBcnJheaN+a23SaWqBgl8QFEludGVybmFsRm9sZGVyQWN0aW9uooNtXxAUSW50
	ZXJuYWxGb2xkZXJBY3Rpb24ACAARABoAJAApADIANwBJAEwAUQBTAIcAjQCSAJ0ApACm
	AKgAqgC3AMAAyADWANsA4wDlAOcA6QDrAO0A7wRnBHEEcgR3BJwEngSgBKIEpASmBKgE
	qgSsBK4EsASyBLQEtgS4BLoEvAS+BMAEwgTEBMYEyATKBMwEzgTQBNIE1ATWBNgE2gTc
	BN4E4ATiBO4E+AUcBT8FWgVfBYYFkAWkBa8F1gXdBegF8wX/BgkGEQY4BjwGRAZNBlkG
	bAaBBo0GkgazBsAG3Qb1ByEHLgdCB00HUgddB2YHbgdxB3oHfweBB4MHhQeOB5AHkgeU
	B5YLvgvEC8kL2AvbC+oL7wv+DAIMBwweDCEAAAAAAAACAQAAAAAAAACEAAAAAAAAAAAA
	AAAAAAAMOA==
	</data>
	<key>folderActionsEnabled</key>
	<true/>
</dict>
</plist>
