<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>folderActions</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBALDBIeHyAhJSYsMDU2Nzs+
	VSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgA7WExQVFhcOGBkaGxwdWGJv
	b2ttYXJrV2VuYWJsZWRdcHJpb3JDb250ZW50c1RuYW1lV3NjcmlwdHOAA4AFgAaABIAJ
	gA9PEQMMYm9vawwDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAIAIAAAQAAAADAwAAAAIAAAwAAAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABUaWtU
	b2sgQXBwcwAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABpwdMAAAAAAAgAAAAEAwAAMRsu
	AAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxhrIBRycGBgAAAABAgAAAgAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcZzhmGAAAAkAAAAAQEAAEYxNTUyNkQx
	LTQwRDMtNDNFRi1CNkY1LTZCQjQ0QjY2NDdEQhgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADLAAAAAQIAADcyZTViZDg2NTU3Y2Fk
	MDRkZGZjNGY2YzUyZjIxNTc4ZDZiMzY0MWYyMzE0ZGZlZjNmNWNkYjQ5YWQ4ZTI3NTE7
	MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20u
	YXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAxMjswMDAwMDAwMDAw
	MmUxYjMxOzAxOy9hcHBsaWNhdGlvbnMvdGlrdG9rIGFwcHMAALQAAAD+////AQAAAAAA
	AAAOAAAABBAAADgAAAAAAAAABRAAAGgAAAAAAAAAEBAAAIgAAAAAAAAAQBAAAHgAAAAA
	AAAAAiAAADgBAAAAAAAABSAAAKgAAAAAAAAAECAAALgAAAAAAAAAESAAAOwAAAAAAAAA
	EiAAAMwAAAAAAAAAEyAAANwAAAAAAAAAICAAABgBAAAAAAAAMCAAAEQBAAAAAAAAENAA
	AAQAAAAAAAAAgPAAAEwBAAAAAAAAW1Rpa1RvayBBcHBzCdINDiIkoSOAB4AIV2J5dGVs
	b2fSJygpKlokY2xhc3NuYW1lWCRjbGFzc2VzV05TQXJyYXmiKStYTlNPYmplY3TSDQ4t
	EaEugAqADtQTFBYOMRkzNIALgAWADIANTxEEIGJvb2sgBAAAAAAEEDAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABADAAAEAAAAAwMAAAACAAAFAAAAAQEAAFVz
	ZXJzAAAACQAAAAEBAABudWxsZXZlbnQAAAAHAAAAAQEAAExpYnJhcnkABwAAAAEBAABT
	Y3JpcHRzABUAAAABAQAARm9sZGVyIEFjdGlvbiBTY3JpcHRzAAAACAAAAAEBAABwb2Mu
	c2NwdBgAAAABBgAAEAAAACAAAAA0AAAARAAAAFQAAAB0AAAACAAAAAQDAAAQPgAAAAAA
	AAgAAAAEAwAALPEDAAAAAAAIAAAABAMAADPxAwAAAAAACAAAAAQDAABvXRIAAAAAAAgA
	AAAEAwAAmuJ+AQAAAAAIAAAABAMAAHTsfwEAAAAAGAAAAAEGAACkAAAAtAAAAMQAAADU
	AAAA5AAAAPQAAAAIAAAAAAQAAEHGxjGwtl/lGAAAAAECAAABAAAAAAAAAA8AAAAAAAAA
	AAAAAAAAAAAIAAAABAMAAAQAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8v
	LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcZzhmGA
	AAAkAAAAAQEAAEYxNTUyNkQxLTQwRDMtNDNFRi1CNkY1LTZCQjQ0QjY2NDdEQhgAAAAB
	AgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADxAAAA
	AQIAADE1ODMwZjM1YzIyYmExN2IyMzBhOGExODgzMWQxYTkxMGMzNWFkN2Y2ODMyOTQ5
	ZjJjY2U5MDljNWI4NDc1Yzk7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
	MDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0ZTswMTsw
	MTAwMDAxMjswMDAwMDAwMDAxN2ZlYzc0OzAxOy91c2Vycy9udWxsZXZlbnQvbGlicmFy
	eS9zY3JpcHRzL2ZvbGRlciBhY3Rpb24gc2NyaXB0cy9wb2Muc2NwdAAAAADYAAAA/v//
	/wEAAAAAAAAAEQAAAAQQAACEAAAAAAAAAAUQAAAEAQAAAAAAABAQAAA0AQAAAAAAAEAQ
	AAAkAQAAAAAAAAIgAAAAAgAAAAAAAAUgAABwAQAAAAAAABAgAACAAQAAAAAAABEgAAC0
	AQAAAAAAABIgAACUAQAAAAAAABMgAACkAQAAAAAAACAgAADgAQAAAAAAADAgAAAMAgAA
	AAAAAAHAAABUAQAAAAAAABHAAAAgAAAAAAAAABLAAABkAQAAAAAAABDQAAAEAAAAAAAA
	AIDwAAAUAgAAAAAAAFhwb2Muc2NwdNInKDg5XkludGVybmFsU2NyaXB0ojorXkludGVy
	bmFsU2NyaXB00icoPD1eTlNNdXRhYmxlQXJyYXmjPCkr0icoP0BfEBRJbnRlcm5hbEZv
	bGRlckFjdGlvbqJBK18QFEludGVybmFsRm9sZGVyQWN0aW9uAAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBmAGwAcQB8AIMAhQCHAIkAlgCfAKcAtQC6AMIAxADGAMgAygDMAM4D3gPq
	A+sD8APyA/QD9gP+BAMEDgQXBB8EIgQrBDAEMgQ0BDYEPwRBBEMERQRHCGsIdAh5CIgI
	iwiaCJ8IrgiyCLcIzgjRAAAAAAAAAgEAAAAAAAAAQgAAAAAAAAAAAAAAAAAACOg=
	</data>
	<key>folderActionsEnabled</key>
	<true/>
</dict>
</plist>
